<div class="card mb-4">
    <div class="card-body">
        <form [formGroup]="stdForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <label for="fname">FName</label>
                <input type="text" formControlName="fname" class="form-control" id="fname">
            </div>
            <div class="form-group">
                <label for="lname">LName</label>
                <input type="text" formControlName="lname" class="form-control" id="lname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" formControlName="contact" class="form-control" id="contact">
            </div>
            <div class="text-right">
                <button class="btn btn-primary">add Std</button>
            </div>
        </form>
    </div>
</div>
